
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  transition: background 0.3s;
  color: var(--text-color-primary);
}

.modal {
  background: #fff;
  border-radius: 16px;
  padding: 3rem 1.5rem;
  min-width: 0;
  width: 90vw;
  box-shadow: 0 2px 24px rgba(0,0,0,0.2);
  position: relative;
  opacity: 0;
  transform: translateY(40px) scale(0.98);
  animation: modalFadeIn 0.35s cubic-bezier(0.4,0,0.2,1) forwards;
}
.closeBtn{
    font-size: 1.5rem !important;
}

@keyframes modalFadeIn {
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}




@media (min-width: 550) {
  .modal {
    width: 70vw;
  }
}

@media (min-width: 768px) {
  .modal {
    width: 70vw;
      padding: 3rem 2rem;
  }
}

@media (min-width: 800px) {
  .modal {
    width: 60vw;
  }
}


@media (min-width: 1024px) {
   .modal {
    width: 70vw;
    max-width: 600px;
    border-radius: 14px;
  }
}

.closeBtn {
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  color: #333;
}
